  <div class="container">
      <% if @user.errors.any? %>
        <div id="error_explanation" class="row alert alert-danger">
        <ul>errors!
       <% @user.errors.full_messages.each do |message| %>
          <li><%= message %></li>
       <% end %>
        </ul>
        </div>
      <% end %>
    <div class="row">
      <div class="col-3"></div>
      <div class="col-6">
        <h2>User Info</h2>
    <%= form_with model:@user, local:true do |f| %>
      <div class="d-block p-3 form-group">
        <label for="d-block inputName">Name</label>
        <div><%= f.text_field :name, autofocus: true, id:"inputName", class:"form-control row-auto"%></div>
      </div>

      <div class="d-block p-3">
        <label for="d-block inputImage">Image</label>
        <div><%= f.attachment_field :profile_image %></div>
      </div>

      <div class="d-block p-3 form-group">
        <label for="d-block inputIntroduction">Introduction</label>
        <div><%= f.text_area :introduction, autofocus: true, id:"inputIntroduction", class:"form-control row-auto", rows:"5"%></div>
      </div>

      <div class="d-block p-3 actions">
        <%= f.submit 'Update User', class:"btn btn-secondary" %>
      </div>
    <% end %>
      </div>
    </div>
</div>