  <div class="container text-center ">
    <h2>User Info</h2>
<%= form_with model:@user, local:true do |f| %>
  <div class="d-block w-auto p-3 row">
  <label for="d-block inputName">Name</label>
  <div><%= f.text_field :name, autofocus: true, id:"inputName"%></div>
  </div>

  <div class="d-block w-auto p-3 row">
  <div><%= attachment_image_tag @user, :profile_image, :fill, 30, 30, fallback: "no_image.jpg"%></div>
  <label for="d-block w-auto p-3 inputImage">ProfileImage</label>
  <div><%= f.attachment_field :profile_image %></div>
  </div>

  <div class="d-block row">
  <label for="d-block w-auto p-3 inputIntroduction">Introduction</label>
  <div><%= f.text_area :introduction, autofocus: true, id:"inputIntroduction"%></div>
  </div>

  <div class="d-block w-auto p-3 actions">
    <%= f.submit 'Update User', class:"btn btn-secondary" %>
  </div>
<% end %>
</div>