<! doctype html>
<body>
    <div class="container">
    <div class="row">
  <div class="col-lg-4">
  <h1>User Info</h1>
  <%= current_user.name %>
  <%= link_to 'Edit Profile', edit_user_path(current_user.id) %>
  <h1>New Post</h1>
      <%= form_with model:@books, local:true do |f| %>
      <div class="row">
      <%= f.label :title, 'Title' %>
      <%= f.text_field :title %>
      </div>
      <div class="row">
      <%= f.label :body, 'Body' %>
      <%= f.text_field :body %>
      </div>
      <div class="row">
      <%= f.submit 'Create Book'%>
      </div>
      <% end %>
  </div>
  <div class="col-lg-8">
      
  <h1>Users</h1>
 <table class="table">
  <thead>
    <tr>
      <th scope="col">image</th>
      <th scope="col">name</th>
    </tr>
  </thead>
    <tbody>
    <% @users.each do |user| %>
    <tr>
      <td><%= attachment_image_tag @user, :profile_image, :fill, 30, 30, fallback: "no_image.jpg"%></td>
      <td><%= user.name %></td>
      <td><%= link_to Show,</td>
    </tr>
    <% end %>
  </tbody>
 </table>

    </div>
    </div>
</body>