<!doctype html %>
<html>
<div class="profile-container">
  <h3 class="profile-name"><%= @user.name %></h3>
  <%= image_tag('no_image.jpg') %>

  <div class="col-lg-4">
  <h1>User Info</h1>
  <%= current_user.name %>
  <%= link_to 'Edit Profile', edit_user_path(current_user.id) %>
  <h1>New Post</h1>
      <%= form_with model:@book, local:true do |f| %>
      <div class="row">
      <%= f.label :title, 'Title' %>
      <%= f.text_field :title %>
      </div>
      <div class="row">
      <%= f.label :body, 'Body' %>
      <%= f.text_field :body %>
      </div>
      <div class="row">
      <%= f.submit 'Create Book'%>
      </div>
      <% end %>
</div>


</div>
</html>