<div class="col-lg-4">
  <h1>User Info</h1>
  <table class="table">
  <thead>
    <%= attachment_image_tag @user, :profile_image, :fill, 60, 60, fallback: "no_image.jpg"%>
  </thead>
  <tbody>
    <tr>
     <th scope="row">name</th>
    <td><%= @user.name %></td>
    </tr>
    <tr>
      <th scope="row">introduction</th>
      <td><%= @user.introduction %></td>
    </tr>
  </tbody>
  </table>
  <%= link_to 'Edit Profile', edit_user_path(current_user.id) %>

  <h1>New book</h1>
      <%= form_with model:@book_new, local:true do |f| %>
      <div class="row">
      <%= f.label :title  %>
      <%= f.text_field :title %>
      </div>
      <div class="row">
      <%= f.label :body %>
      <%= f.text_field :body %>
      </div>
      <div class="row">
      <%= f.submit  'Create Book',class:"btn btn-success" %>
      </div>
      <% end %>
</div>
