<!DOCTYPE html>
<html>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
    <meta name="generator" content="Jekyll v4.0.1">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../assets/js/vendor/jquery.slim.min.js"><\/script>')</script><script src="../assets/dist/js/bootstrap.bundle.js"></script>
    <link rel="canonical" href="https://getbootstrap.com/docs/4.5/examples/starter-template/">
    <link href="../assets/dist/css/bootstrap.css" rel="stylesheet">
    
        <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>

  <head>
    <title>Bookers2</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
  <a class="navbar-brand" href="#">Bookers</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#"><i class="fas fa-home"></i>Home <span class="sr-only">(current)</span></a>
      </li>
      <% if user_signed_in? %>
      <li class="nav-item active">
        <a class="nav-link" href="/users"><i class="fas fa-users"></i>Users</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="/books"><i class="fas fa-book-open"></i>Books</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="#"><i class="fas fa-sign-out-alt"></i>logout</a>
      </li>
      
      <% else %>
      
      <li class="nav-item active">
        <a class="nav-link" href="/about"><i class="fas fa-link"></i>About</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="/users/sign_up"><i class="fas fa-user-plus"></i>sign up</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="/users/sign"><i class="fas fa-sign-in-alt"></i>login</a>
      </li>
      <% end %>
    </ul>
  </div>
</nav>

    <%= yield %>
  </body>


<link href="homes.scss" rel="stylesheet">

<footer class="container mt-5">
  <div class="row justify-content-center">
    <p>CopyRight Infratop.inc</p>
  </div>
</footer>
</html>
